article {
	z-index: -1;
	position: relative;
	background: white;
	max-width: 40em;
	margin: 0 auto;
	padding: 2em 0em 3em;
}

footer {
	position: fixed;
	bottom: 0;
	z-index: -2;
	height: 6em;
	width: 100%;
	text-align: center;
	background: LightGrey;
}

footer #links ul li {
	display: inline-block;
}

footer #links ul li a .icon {
	width: 3em;
	padding: 1.5em 0.5em;
}

footer #links ul li a .svg {
	height: 3em;
	width: 3em;
}

footer #links ul li:hover > a {
	opacity: 0.9;
}

footer #links ul li a .svg:hover {
	fill: #FF6600;
}

header nav {
	height: 6em;
}

header #logo a .svg {
	height: 5em;
	width: 5em;
	margin: 0.5em;
	float: left;
}

header #logo a .svg:hover {
	fill: #FF6600;
}

header #arrow-down a .svg {
	height: 6em;
	width: 6em;
	float: right;
}

header #arrow-down a .svg:hover {
	fill: #FF6600;
}

header nav {
	background: white;
	text-align: center;
}

header nav ul li {
	display: inline-block;
	width: 4em;
	margin: 0.5em;
	text-align: center;
	font-weight: 200;
}

header nav ul li a .svg {
	height: 3em;
	width: 3em;
}

header nav ul li:hover > a {
	opacity: 0.9;
	color: #FF6600;
}

header nav ul li:hover > a .svg {
	fill: #FF6600;
}

header nav ul li a #active {
	width: 4em;
	height: 4em;
}

header #background {
	position: relative;
	height: 100vh;
	z-index: 1;
}

main {
	position: relative;
	margin-bottom: 6em;
	z-index: 0;
	background: white;
}

.date {
	text-align: center;
	margin: 0em 1em 1em;
	font-weight: 300;
}

.date-link {
	float: right;
	font-size: small;
	text-transform: uppercase;
	opacity: 0.7;
}

.highlight {
	margin: 4%;
	padding: 3%;
	line-height: 1.1em;
	overflow: scroll;
	border-radius: 10px;
}

.list-posts li:hover > a p {
	color: #FF6600;
}

.photo-gallery {
	text-align: center;
}

.post-link {
	text-align: center;
	margin-bottom: 1em;
	text-transform: uppercase;
}

.thumb {
	height: 150px;
	margin: 0.1em;
}

.thumb:hover {
	opacity: 0.5;
}

#arrow-up {
	position: fixed;
	bottom: 15%;
	right: 3em;
	z-index: 0;
}

#arrow-up a .svg {
	height: 7em;
	width: 7em;
}

#arrow-up a .svg:hover {
	fill: #FF6600;
}

#blog-links {
	text-align: center;
}

#blog-links ul li {
	display: inline-block;
	width: 4em;
	margin: 0.2em;
	text-align: center;
	font-weight: 200;
}

#blog-links ul li a .svg {
	height: 3em;
	width: 3em;
}

#blog-links ul li:hover > a {
	color: #FF6600;
	opacity: 0.9;
}

#blog-links ul li:hover > a .svg {
	fill: #FF6600;
}

#blog-nav {
	text-align: center;
	margin-bottom: -5%;
}

#blog-nav div {
	padding: 1.5em 0.5em;
	display: inline-block;
}

#blog-nav a .svg {
	height: 3em;
	width: 3em;
}

#blog-nav div:hover > a {
	opacity: 0.9;
}

#blog-nav div:hover > a .svg {
	fill: #FF6600;
}

#disqus_thread {
	padding: 2.5% 5% 2.5%;
}

#links ul li {
	display: inline;
}

/* Remove upward arrow when it covers article */
@media (max-width: 60em) {
	#arrow-up {
		display: none;
	}
}

/* Fix icons for really small screens */
@media (max-width: 40em) {

	footer {
		height: 4.5em;
	}

	main {
		margin-bottom: 4.5em;
	}

	header nav ul li{
		margin: 0.5em 0;
	}

	footer #links ul li a .icon {
		width: 2.5em;
		height: 2.5em;
		padding: 1em 0.3em;
	}

	#arrow-down {
		display: none;
	}

	#logo {
		display: none;
	}
}