#photos {
	z-index: -1;
	position: relative;
	background: white;
	max-width: 800px;
	margin: 0 auto;
	padding-bottom: 30px;
	text-align: center;
}

#photos a {
	display: inline-block;
}

.thumb {
	height: 150px;
	margin: 0.1em;
}