---
layout: page
title: Gallery
---

<h1 class="blue-header"><a href='{{page.url}}'>{{ page.title }}</a></h1>
<hr/>
{% for post in site.posts %}
	{% if post.photos %}
		<h2 class="blue-header"><a href='{{post.url}}'>{{ post.title }}</a></h2>
		<div class="photo-gallery">
		{% for photo in post.photos %}
			<a href="/assets/photos/{{ post.title }}/full-size/img{{ photo.nr }}.jpg" data-lightbox="{{ post.title }}" data-title="{{ photo.title }}"><img class="thumb" src="/assets/photos/{{ post.title }}/thumbs/img{{ photo.nr }}.jpg" alt="" /></a>
		{% endfor %}
		</div>
		<hr>
	{% endif %}
{% endfor %}
