<footer>
  <div id="links">
    <ul>
      <li><a href="https://www.facebook.com/kim.torberntsson"><img class="icon svg" src="/assets/links/facebook.svg" alt="link to my facebook page" /></a></li>
      <li><a href="https://twitter.com/KimTorberntsson"><img class="icon svg" src="/assets/links/twitter.svg" alt="link to my twitter page" /></a></li>
      <li><a href="https://github.com/KimTorberntsson"><img class="icon svg" src="/assets/links/github.svg" alt="link to my github page" /></a></li>
      <li><a href="http://se.linkedin.com/in/kimtorberntsson"><img class="icon svg" src="/assets/links/linkedin.svg" alt="link to my linkedin page" /></a></li>
      <li><a href="http://instagram.com/kimtorberntsson"><img class="icon svg" src="/assets/links/instagram.svg" alt="link to my instagram page" /></a></li>
      <li><a href="http://kimtorberntsson.tumblr.com"><img class="icon svg" src="/assets/links/tumblr.svg" alt="link to my tumblr page" /></a></li>
      <li><a href="mailto:kimtorberntsson@gmail.com"><img class="icon svg" src="/assets/links/mail.svg" alt="link to mailing me using the standard mail application" /></a></li>
    </ul>
  </div>
</footer>