<footer>
  <div id="links">
    <ul>
      <li class="blue-icon"><a href="https://www.facebook.com/kim.torberntsson" aria-label="Facebook">{% include icons/facebook.svg class="icon svg" %}</a></li>
      <li class="red-icon"><a href="https://twitter.com/KimTorberntsson" aria-label="Twitter">{% include icons/twitter.svg class="icon svg" %}</a></li>
      <li class="orange-icon"><a href="https://github.com/KimTorberntsson" aria-label="GitHub">{% include icons/github.svg class="icon svg" %}</a></li>
      <li class="purple-icon"><a href="https://se.linkedin.com/in/kimtorberntsson" aria-label="LinkedIn">{% include icons/linkedin.svg class="icon svg" %}</a></li>
      <li class="green-icon"><a href="https://instagram.com/kimtorberntsson" aria-label="Instagram">{% include icons/instagram.svg class="icon svg" %}</a></li>
      <li class="pink-icon"><a href="https://kimtorberntsson.tumblr.com" aria-label="Tumblr">{% include icons/tumblr.svg class="icon svg" %}</a></li>
      <li class="dark-blue-icon"><a href="mailto:kimtorberntsson@gmail.com" aria-label="Email me">{% include icons/mail.svg class="icon svg" %}</a></li>
    </ul>
  </div>
</footer>
