<header>
	<div id="logo" class="orange-icon">
		<a href="/" aria-label="Home">{% include icons/logo.svg class="svg" %}</a>
	</div>
	<nav>
		<ul>
			<li class="orange-icon"><a href="/"{% if page.url == "/" %} class="is-active" aria-current="page"{% endif %}>{% include icons/blog.svg class="svg navicon" %}Latest</a></li>
			<li class="red-icon"><a href="/archive"{% if page.url == "/archive/" %} class="is-active" aria-current="page"{% endif %}>{% include icons/archive.svg class="svg navicon" %}Archive</a></li>
			<li class="blue-icon"><a href="/gallery"{% if page.url == "/gallery/" %} class="is-active" aria-current="page"{% endif %}>{% include icons/gallery.svg class="svg navicon" %}Gallery</a></li>
			<li class="green-icon"><a href="/about"{% if page.url == "/about/" %} class="is-active" aria-current="page"{% endif %}>{% include icons/about.svg class="svg navicon" %}About</a></li>
			<li class="purple-icon"><a href="/subscribe/"{% if page.url == "/subscribe/" %} class="is-active" aria-current="page"{% endif %}>{% include icons/rss.svg class="svg navicon" %}Subscribe</a></li>
		</ul>
	</nav>
	<div id="hero">
		<h1>{% if page.hero_title %}{{ page.hero_title }}{% else %}{{ page.title }}{% endif %}</h1>
		{% if page.date %}<p class="hero-date">{{ page.date | date: "%-d %B %Y" }}</p>{% endif %}
	</div>
	<div id="background"></div>
</header>
