<head>
	<meta charset="utf-8">
	<meta name="keywords" content="Kim Torberntsson, photos, photography, engineering, web design, resume, developer, programming, blog, personal"/>
	<meta name="author" content="Kim Torberntsson"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Kim Torberntsson</title>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/text.css" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/syntax.css" />
	{% if page.photos %}<link rel="stylesheet" href="/css/lightbox.css" />{% endif %}
	<style>
		header {
			background: url("/assets/backgrounds/{{ page.background }}.jpg");
			background-attachment: scroll;
			background-size: cover;
		}
	</style>
	<script type="text/javascript" src="/scripts/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="/scripts/smooth-scroll.js"></script>
	{% if page.photos %}<script src="/scripts/lightbox.js"></script>{% endif %}
	{% include google_analytics.html %}
	<link href='http://kimtorberntsson.com/feed.xml' rel='alternate' type='application/atom+xml'>
</head>
