<head>
	<meta charset="utf-8">
	<meta name="keywords" content="Kim Torberntsson, photos, photography, engineering, web design, resume, developer, programming, blog, personal"/>
	<meta name="author" content="Kim Torberntsson"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Kim Torberntsson &middot; {{page.title}}</title>
	<link rel="apple-touch-icon" href="/assets/nav/logo.png">
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/text.css" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/syntax.css" />
	<link rel="stylesheet" href="/lightbox/css/lightbox.css" />
	<style>
		header #background {
			background: url("/assets/backgrounds/{% if page.title == "Blog Posts" %}{% for post in paginator.posts limit:1 %}{{post.title}}{% endfor %}{% else %}{{ page.title }}{% endif %}.jpg");
			background-attachment: scroll;
			background-size: cover;
		}{% if page.title == "Hello"%} 
		p a:hover {
			color: #00C129;
		}{% endif %}
	</style>
	<script type="text/javascript" src="/scripts/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="/scripts/svg-transform.js"></script>
	<script type="text/javascript" src="/scripts/smooth-scroll.js"></script>
	<script type="text/javascript" src="/lightbox/js/lightbox.js"></script>
	{% include google_analytics.html %}
	<link href='http://kimtorberntsson.com/feed.xml' rel='alternate' type='application/atom+xml'>
</head>
