<header id="header">
  <nav>
    <ul>
      <li{% if page.dark-background %} class="inverted" {% endif%}><a href="/index.html"><img {% if page.active-nav == "home" %}id="active"{% endif %} class="navicon" src="/assets/nav/home.svg" alt="link to index page" />Home</a></li>
      <li{% if page.dark-background %} class="inverted" {% endif%}><a href="/resume"><img {% if page.active-nav == "resume" %} id="active" {% endif %} class="navicon" src="/assets/nav/cv.svg" alt="link to cv page" />Resume</a></li>
      <li{% if page.dark-background %} class="inverted" {% endif%}><a href="/photos"><img {% if page.active-nav == "photos" %} id="active" {% endif %} class="navicon" src="/assets/nav/photos.svg" alt="link to photos page"/>Photos</a></li>
      <li{% if page.dark-background %} class="inverted" {% endif%}><a href="/blog"><img {% if page.active-nav == "blog" %} id="active" {% endif %} class="navicon" src="/assets/nav/blog.svg" alt="link to blog page"/>Blog</a></li>
    </ul>
  </nav>
  <div id="arrow-down">
    <a href="#main">
      <img {% if page.dark-background %} class="inverted" {% endif%} src="/assets/nav/arrow-down.png" alt="link to the main content on the page"/>
    </a>
  </div>
</header>