---
layout: default
active-nav: blog
---

<div id="blog-links">
	<ul>
		<li><div><a href="/blog/archive.html"><img class="blogicon" src="/assets/nav/archive.svg" alt="link to my facebook page" />Archive</a></div></li>
		<li><div><a href="/blog/"><img class="blogicon" src="/assets/nav/blog.svg" alt="link to my twitter page" />Home</a></div></li>
		<li><div><a href="/feed.xml"><img class="blogicon" src="/assets/nav/rss.svg" alt="link to my github page" />RSS</a></div></li>
	</ul>
</div>
{{ content }}