---
layout: page
---

<div class="post">
	<h1>{{ page.title }}</h1>
	<div class="date">{{ page.date | date: "%-d %B %Y" }}</div>
	<hr/>
	{{ content }}
	{% if page.videos %}
	<div>
	{% for video in page.videos %}
		<div class="video">
			<iframe width="560" height="315" src="{{ video.url }}" title="{{ video.title | default: page.title }}" loading="lazy" allowfullscreen></iframe>
		</div>
	{% endfor %}
	</div>
	{% endif %}
	{% if page.photos %}
	<div class="photo-gallery">
		{% for photo in page.photos %}
			<a href="/assets/photos/{{ page.title }}/full-size/img{{ photo.nr }}.jpg" data-lightbox="{{ page.title }}" data-title="{{ photo.title }}"><img class="thumb" src="/assets/photos/{{ page.title }}/thumbs/img{{ photo.nr }}.jpg" width="200" height="200" loading="lazy" decoding="async" alt="{{ photo.title }}" /></a>
		{% endfor %}
	</div>
	{% endif %}
	<hr/>
	<div id="blog-nav">
		{% if page.previous %}
		<div><a href="{{ page.previous.url }}" aria-label="Previous post">{% include icons/arrow-left.svg class="icon svg" %}</a></div>
		{% endif %}
		{% if page.next %}
		<div><a href="{{ page.next.url }}" aria-label="Next post">{% include icons/arrow-right.svg class="icon svg" %}</a></div>
		{% endif %}
	</div>
</div>
